# Database
# SQLite (développement local)
DATABASE_URL="file:./prisma/dev.db"

# PostgreSQL (production - optionnel)
# DATABASE_URL="postgresql://user:password@localhost:5432/pape_d_tracker"

# MySQL (optionnel)
# DATABASE_URL="mysql://user:password@localhost:3306/pape_d_tracker"

# Environment
NODE_ENV=development

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
